.primary-button {
  border-radius: 8px;
  background: $color-1;
  width: 178px;
  height: 48px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  transition: 0.3s all;
  border: 1px solid $color-1;
  &:hover {
    background-color: #ffffff;
    color: $color-1;
  }
  &:active {
    background-color: #ffffff;
    color: $color-1;
    transform: scale(0.9);
  }
}

.poppins-font {
  font-family: $genral-font;
}
.inter-font {
  font-family: 'Inter' !important;
}

.genral-Heading {
  font-size: 34px;
  font-weight: 400;
  line-height: 150%;
}
.primary-color {
  color: $color-1;
}
.bg-crimson {
  background-color: $color-1;
}
.current-page {
  color: $color-1;
  font-weight: 700;
}

.s-color {
  background-color: #f8f8f8;
}

.flier {
  border-radius: 10px !important;
}

.flier-2 {
  border-radius: 10px !important;
}

.heigth-100 {
  height: 100% !important;
}

.aj {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fill {
  width: 100%;
  height: 100%;
}

.screw {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 18px;
}

.banner-gradient-2 {
  background: linear-gradient(85deg, #f7fde6 3.69%, #fff 96.31%);
}

.mystry-commnity-section {
  min-height: 781px !important;
}

.cursor-pointer {
  cursor: pointer;
}

.fw-600 {
  font-weight: 600;
}

.auto-slider-row {
  transform: translateX(100vw);
  animation: RightToLeft 20s infinite linear;
}
@keyframes RightToLeft {
  to {
    transform: translateX(-100%);
  }
}

.trending-slider {
  min-width: 8px;
  min-height: 8px;
  background-color: grey;
  border-radius: 10px !important;
  font-size: 10px;
  transition: all 0.5s ease-in-out;
}

.active-trending-slider {
  transform: scale(1.3);
  background-color: black;
  height: 15px;
  width: 25px;
}

.trending-slider-row {
  transition: all 1s ease-in-out;
}

.btn-response-1 {
  transition: all 0.2s ease-in-out;

  &:active {
    background-color: #ffffff;
    color: $color-1;
    transform: scale(0.9);
  }
}

.logo-seconday {
  width: 70%;
  height: auto;
}

.nav-close-toggle {
  top: 5%;
  right: 5%;
}

.navlink {
  color: #72777a;
}

.rotate90deg {
  transform: rotate(180deg);
}

// @media (min-width: 992px) {

// }

//customized slick slider buttons
.slick-slider {
  .slick-dots {
    li {
      width: fit-content;
      height: fit-content;
      button {
        background: rgba(25, 25, 25, 0.2);
        border-radius: 12px;
        height: 6px;
        width: 20px;
        transition: all 1s ease-in-out;
        padding: 0;
        &::before {
          display: none;
        }
      }
    }
    .slick-active {
      button {
        border: 1px solid black;
        width: 50px;
        background-color: black;
      }
    }
  }
}

.store-quntity {
  max-width: 80px;
  width: 80px;
  min-width: 50px;
  height: 33px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;

  .quntity-number {
    flex: 1;
    background-color: $color-1;
    font-size: 12px;
  }
  button {
    flex: 1;
    border: none;
    img {
      max-width: 15px;
      // height: auto;
    }
    &:active {
      img {
        transform: scale(0.8);
      }
    }
  }
}

.testbulb {
  width: 100%;
  height: 100%;
  border: 2px solid;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain !important;
    // border: 1px solid;
  }
}

.disable-button {
  background: #c2aea9 !important;
}

@media (max-width: 560px) {
  .store-quntity {
    width: 65px;
  }
}

.product-top-image {
  max-width: 335px !important;
}

.formbutton {
  color: white;
  background-color: #16634f;
}
